
h1.title{
    display: flex;
    align-items: center;
    z-index: 5;
    background: rgb(36,34,33);
    background: linear-gradient(rgba(36,34,33,1) 0%, rgba(215,105,32,1) 45%, rgba(23,131,3,1) 100%);
};

.card-title-img {
    width: 350px;
}

.card-div {
    max-width: 350px;
};

.card-list h1 {
display: flex;
justify-content: center;
margin-bottom: 5%;
color: white;
}

.div-header {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    color: white;
    }

i {
    margin: 25px;
}

body {
    background-image: url('https://wallpaperaccess.com/full/6079733.png');
    background-repeat: no-repeat;
}